<launch>
  <arg name="traj_mode" default="circle" />
  <arg name="traj_file" default="" />
  <arg name="traj_dt" default="0.01" />
  <arg name="loop" default="true" />
  <arg name="circle_radius" default="1.2" />
  <arg name="circle_altitude" default="0.8" />
  <arg name="circle_period" default="10.0" />
  <arg name="circle_center_x" default="1.2" />
  <arg name="circle_center_y" default="0.0" />
  <arg name="circle_clockwise" default="true" />
  <arg name="circle_yaw" default="0.0" />
  <arg name="start_mode" default="on_trigger" />
  <arg name="trigger_topic" default="/traj_start_trigger" />

  <include file="$(find px4ctrl)/launch/run_ctrl.launch" />

  <node pkg="px4ctrl" type="play_txt_traj.py" name="txt_traj_pub" output="screen">
    <param name="traj_mode" value="$(arg traj_mode)" />
    <param name="traj_file" value="$(arg traj_file)" />
    <param name="time_step" value="$(arg traj_dt)" />
    <param name="topic" value="/setpoints_cmd" />
    <param name="loop" value="$(arg loop)" />
    <param name="wait_for_sub" value="true" />
    <param name="start_mode" value="$(arg start_mode)" />
    <param name="trigger_topic" value="$(arg trigger_topic)" />
    <param name="circle/radius" value="$(arg circle_radius)" />
    <param name="circle/altitude" value="$(arg circle_altitude)" />
    <param name="circle/period" value="$(arg circle_period)" />
    <param name="circle/center_x" value="$(arg circle_center_x)" />
    <param name="circle/center_y" value="$(arg circle_center_y)" />
    <param name="circle/clockwise" value="$(arg circle_clockwise)" />
    <param name="circle/yaw" value="$(arg circle_yaw)" />
    <param name="circle/use_trigger_center" value="true" />
    <param name="circle/use_trigger_altitude" value="true" />
    <param name="circle/use_trigger_yaw" value="false" />
  </node>
</launch>
